/*color, text-align, font-style, font-weight, font-family, font-size, and line-height*/

body {
  background-color: #08EFF7;
  text-align: center;
  font-style: oblique;
  font-weight:bolder;
  font-family:sans-serif;
}

p {
  margin: 40px;
  text-align: justify;
  font-size: 1.25em;
  line-height: normal;
}

h1 {
  font-size: 3em;
  text-shadow: 5px -5px white;
}

h2 {
  text-decoration: underline;
}

a {
  padding: 20px;
}

a:hover {
  color: green;
}
